@code {
    [Parameter, EditorRequired]
    public string Id { get; set; } = null!;

    [Parameter]
    public int Size { get; set; } = 48;
}

@implements IDisposable

@using Nostrid.Data;
@using Nostrid.Misc;
@using Nostrid.Model;

@inject AccountService accountService

@if (details != null && details.PictureUrl.IsNotNullOrEmpty() && Uri.IsWellFormedUriString(details.PictureUrl, UriKind.Absolute))
{
    <img style="width:@(Size)px; height:@(Size)px" src="@details.PictureUrl" class="card-img-top rounded-999" alt="">
}
else if (Id.IsNotNullOrEmpty())
{
    <div style="width:@(Size)px; height:@(Size)px" class="rounded-999 overflow-hidden">
        @((MarkupString)Utils.ToSvgIdenticon(Id, Size))
    </div>
}

@code
{
    private AccountDetails? details;

    protected override void OnInitialized()
    {
        accountService.AccountDetailsChanged += AccountDetailsChanged;
    }

    protected override void OnParametersSet()
    {
        if (Id == null) return;
        accountService.AddDetailsNeeded(Id);
        details = accountService.GetAccountDetails(Id);
    }

    private void AccountDetailsChanged(object? sender, (string accountId, AccountDetails details) data)
    {
        if (data.accountId == Id)
        {
            details = data.details;
            InvokeAsync(() => StateHasChanged());
        }
    }

    #region Dispose
    private bool disposed;

    public void Dispose() => Dispose(true);

    protected virtual void Dispose(bool disposing)
    {
        if (!disposed)
        {
            if (disposing)
            {
                Cleanup();
            }

            disposed = true;
        }
    }

    private void Cleanup()
    {
        accountService.AccountDetailsChanged -= AccountDetailsChanged;
    }
    #endregion
}