@code{
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public AccountDetails? Details { get; set; }

    [Parameter]
    public bool OnlyText { get; set; }
}

@using Nostrid.Data;
@using Nostrid.Misc;
@using Nostrid.Model;

<span class="text-break">
    @if (Details != null && Details.Nip05Id.IsNotNullOrEmpty() && Details.Nip05Valid &&
        Nip05.DecodeNip05(Details.Nip05Id, out var domain, out var username))
    {
        if (username != "_")
        {
            @username
        }
        <span class="d-inline-block">
            @(username != "_" ? "@" : "")@domain
        </span>
        @if (!OnlyText)
        {
            <i class="text-success bi bi-patch-check-fill ms-1"></i>
        }
    }
    else if (Id != null)
    {
        @(Details?.Name ?? ByteTools.PubkeyToNpub(Id, true))
    }
    @if (!OnlyText && (Details?.Lud16Id ?? Details?.Lud06Url).IsNotNullOrEmpty())
    {
        <i class="bi bi-lightning-charge-fill text-warning ms-1"></i>
    }
</span>
