@code{
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public AccountDetails? Details { get; set; }
}

@using Nostrid.Data;
@using Nostrid.Misc;
@using Nostrid.Model;

<span class="text-break">
    @if (Details?.Nip05Data != null)
    {
        if (Details.Nip05Data.Username != "_")
        {
            @Details.Nip05Data.Username
        }
        <span class="d-inline-block">
            @(Details.Nip05Data.Username != "_" ? "@" : "")@Details.Nip05Data.Domain
        </span>
        <i class="text-success bi bi-patch-check-fill"></i>
    }
    else
    {
        @(Details?.Name ?? ByteTools.PubkeyToNpub(Id, true))
    }
</span>
