@using Nostrid.Data;
@using Nostrid.Model;
@using Nostrid.Pages;

@inject AccountService accountService
@inject ConfigService configService
@inherits LayoutComponentBase

<NavMenu>
	<main class="d-flex flex-column flex-grow-1 p-3">
		<CascadingValue Value="@alert">
			@Body
		</CascadingValue>
	</main>
</NavMenu>

<Alert @ref="alert"></Alert>
<Scripts @ref="scripts" OnAfterFirstRender="@SetTheme" />

@code{
	private Scripts? scripts;
	private Alert? alert;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		if (!string.IsNullOrEmpty(configService.MainConfig.MainAccountId))
		{
			var account = accountService.GetAccount(configService.MainConfig.MainAccountId);

			if (accountService.HasSigner(account.Id))
			{
				accountService.SetMainAccount(account);
			}
			else if (LocalSigner.TryFromPrivKey(account.PrivKey, out var signer))
			{
				accountService.SetMainAccount(account, signer);
			}
		}
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			StateHasChanged();
		}
	}

	private void SetTheme()
	{
		scripts?.InvokeVoid("setTheme", configService.MainConfig.Theme ?? ConfigPage.DARK_THEME);
	}
}