@using Nostrid.Data;
@using Nostrid.Model;
@using Nostrid.Pages;

@inject AccountService accountService
@inject ConfigService configService
@inject LocalSignerFactory localSignerFactory

@inherits LayoutComponentBase

<NavMenu>
	<main class="d-flex flex-column flex-grow-1 p-3">
		<CascadingValue Value="@scripts">
			<CascadingValue Value="@alert">
				@Body
			</CascadingValue>
		</CascadingValue>
	</main>
</NavMenu>

<Alert @ref="alert"></Alert>
<Scripts @ref="scripts" />

@code{
	private Scripts? scripts;
	private Alert? alert;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		if (!string.IsNullOrEmpty(configService.MainConfig.MainAccountId))
		{
			var account = accountService.GetAccount(configService.MainConfig.MainAccountId);

			if (accountService.HasSigner(account.Id))
			{
				accountService.SetMainAccount(account);
			}
			else if (localSignerFactory.TryFromPrivKey(account.PrivKey, out var signer))
			{
				accountService.SetMainAccount(account, signer);
			}
		}
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (scripts != null && firstRender)
		{
			scripts.InvokeAfterRender(async () =>
			{
				await scripts.InvokeVoidAsync("setTheme", configService.MainConfig.Theme ?? ConfigPage.DARK_THEME);
			});
		}
	}
}