@implements IAsyncDisposable

@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [CascadingParameter]
    public Scripts? Scripts { get; set; }
}

<div @ref="container">
	@ChildContent
</div>

@code {

    private ElementReference container;

    public void Show()
    {
        Scripts?.InvokeVoid("showModal", container);
    }

    public void Hide()
    {
        Scripts?.InvokeVoid("hideModal", container);
    }

    public bool IsVisible()
    {
        return Scripts?.Invoke<bool>("isModalShown", container) ?? false;
    }

    #region Dispose
    private bool _disposed;

    async ValueTask IAsyncDisposable.DisposeAsync() => await Dispose(true);

    protected virtual async Task Dispose(bool disposing)
    {
        if (!_disposed)
        {
            if (disposing)
            {
                if (Scripts is not null)
                {
                    await Scripts.InvokeVoidAsync("hideModal", container);
                }
            }

            _disposed = true;
        }
    }
    #endregion
}
