.display-active {
    display: none;
}

.active .display-active {
    display: initial;
}

.active .display-inactive {
    display: none;
}

.offcanvas {
    max-width: 75vw;
}

@media (min-width: 768px) {
    .offcanvas {
        position: inherit;
        visibility: visible;
        transform: translate(0px);
        transition: none;
        min-width: 200px;
        max-width: 200px;
    }
}

.nav-pills {
    margin-top: calc(var(--bs-nav-link-padding-y)*-1) !important;
}

    .nav-pills .nav-item {
        margin-left: -1rem !important;
        margin-bottom: .25rem;
    }

    ::deep .nav-pills .nav-link {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 999px !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 999px !important;
    }

.account-name {
    text-overflow: ellipsis;
}

::deep .account-name wbr {
    display: none;
}