.note {
    --tree-placeholder-size: 48px;
    --tree-line-size: 2px;
}

.tree-placeholder-height {
    height: var(--tree-placeholder-size)
}

.tree-placeholder-height-half {
    height: calc(var(--tree-placeholder-size) / 2 + var(--tree-line-size) / 2);
}

.tree-placeholder-width-half {
    width: calc((var(--tree-placeholder-size) - var(--tree-line-size)) / 2);
}

.tree-placeholder-width-last {
    width: 10px
}

@media (min-width: 992px) {
    .tree-placeholder-width-last {
        width: calc((var(--tree-placeholder-size) - var(--tree-line-size)) / 2);
    }    
}

.tree-line-height {
    height: var(--tree-line-size);
}

.tree-line-width {
    width: var(--tree-line-size);
}

.note-content > ::deep *:last-child {
    margin-bottom: 0;
}

.note-content ::deep blockquote {
    padding-left: .5rem;
    border-left: solid .3rem var(--bs-tertiary-color);
}

    .note-content ::deep blockquote::before {
        content: "\F6B0";
        font-family: bootstrap-icons !important;
        color: var(--bs-tertiary-color);
        font-size: 1.3rem;
    }

.note-content ::deep img,
.note-content ::deep video {
    display: block;
    max-width: 100%;
    max-height: 50vh;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-tertiary-color) !important;
    border-radius: var(--bs-border-radius) !important;
}