@page "/tag/{hashtags}"

@code {
    [Parameter]
    public string Hashtags { get; set; }
}

@using Nostrid.Data;
@using Nostrid.Data.Relays;
@using Nostrid.Model;
@inject AccountService accountService
@inject FeedService feedService
@inject NavigationManager navigationManager

<div class="d-flex flex-row">
    <h2>#@string.Join(" #", Hashtags.Split(','))</h2>
    @if (accountService.MainAccount != null)
    {
        <button class="btn btn-sm btn-outline-primary mb-2 ms-4" type="button" @onclick="@Save">
            <i class="bi bi-pin"></i> Save
        </button>
    }
</div>

<FeedViewer BaseFilter="@filter" />

@code {
    private SubscriptionFilter filter;

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(Hashtags))
        {
            var hashtags = Hashtags.Split(",");
            filter = new TagSubscriptionFilter(hashtags);
        }
    }

    private void Save()
    {
        if (!string.IsNullOrEmpty(Hashtags))
        {
            var feedSource = new FeedSource()
            {
                Hashtags = Hashtags.Split(",").ToList(),
                OwnerId = accountService.MainAccount.Id,
            };
            feedService.SaveFeedSource(feedSource);
            navigationManager.NavigateTo($"/feed/{feedSource.Id}");
        }
    }
}