@import url('bootstrap.min.css');
@import url('bootstrap-icons-1.10.3/bootstrap-icons.css');

html, body {
    min-height: 100%;
    height: 100%;
    font-size: 14px;
}

#app {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h6:focus,
h6:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}

/* TREE LAYOUT */
.note {
    --tree-placeholder-size: 48px;
    --tree-line-size: 2px;
}

.tree-placeholder-height {
    height: var(--tree-placeholder-size)
}

.tree-placeholder-height-half {
    height: calc(var(--tree-placeholder-size) / 2 + var(--tree-line-size) / 2);
}

.tree-placeholder-width-half {
    width: calc((var(--tree-placeholder-size) - var(--tree-line-size)) / 2);
}

.tree-placeholder-width-last {
    width: 10px
}

@media (min-width: 992px) {
    .tree-placeholder-width-last {
        width: calc((var(--tree-placeholder-size) - var(--tree-line-size)) / 2);
    }
}

.tree-line-height {
    height: var(--tree-line-size);
}

.tree-line-width {
    width: var(--tree-line-size);
}

/* NOTE CONTENT */
.note-content > *:last-child {
    margin-bottom: 0;
}

.note-content blockquote {
    padding-left: .5rem;
    border-left: solid .3rem var(--bs-tertiary-color);
}

    .note-content blockquote::before {
        content: "\F6B0";
        font-family: bootstrap-icons !important;
        color: var(--bs-tertiary-color);
        font-size: 1.3rem;
    }

.note-content img,
.note-content video,
.note-content audio {
    display: block;
    max-width: 100%;
    max-height: 50vh;
}

.note-content img,
.note-content video {
    border: 1px solid rgba(var(--bs-secondary-rgb)) !important;
    border-radius: 0.375rem !important;
}

.note-content code {
    white-space: break-spaces;
}

/* BOOTSTRAP EXTENSIONS */
[data-bs-theme=dark] {
    --bs-body-bg: #1e1e1e;
    --bs-body-bg-rgb: 30,30,30
}

.fs-7 {
    font-size: .85rem;
}

.fs-8 {
    font-size: .65rem;
}

.bg-primary-opacity-10-hover {
    transition: background-color ease-in-out .1s;
}

    .bg-primary-opacity-10-hover:hover {
        background-color: rgba(var(--bs-primary-rgb), .1) !important;
    }

.bg-tertiary-hover {
    transition: background-color ease-in-out .1s;
}

    .bg-tertiary-hover:hover {
        background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity));
    }

.rounded-999 {
    border-radius: 999px !important;
}

.bg-opacity-95 {
    --bs-bg-opacity: 0.95;
}

.glow-0:focus {
    box-shadow: none;
}

:root {
    --bs-form-control-bg: var(--bs-bg-body) !important;
}

.form-check-input {
    cursor: pointer;
}

.form-range::-webkit-slider-runnable-track {
    background-color: var(--bs-secondary-bg) !important;
}

.form-range::-moz-range-track {
    background-color: var(--bs-secondary-bg) !important;
}

.mx--3 {
    margin: 0 -1rem;
}

.nav-pills .nav-link {
    color: rgba(var(--bs-body-color-rgb),var(--bs-text-opacity)) !important;
}

    .nav-pills .nav-link.active {
        font-weight: bold;
        background-color: initial !important;
    }

.nav-pills-2 .nav-link {
    padding: 0;
    color: rgba(var(--bs-body-color-rgb),var(--bs-text-opacity)) !important;
    font-weight: bold;
}

    .nav-pills-2 .nav-link > span {
        position: relative;
        display: inline-block;
        padding: var(--bs-nav-link-padding-y) 0;
        margin: 0 var(--bs-nav-link-padding-x);
    }

        .nav-pills-2 .nav-link > span:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0%;
            height: .25rem;
            border-radius: .25rem;
            background-color: var(--bs-primary);
            left: 50%;
            transform: translateX(-50%);
            transition: width ease-in-out .1s;
        }

    .nav-pills-2 .nav-link.active > span:before {
        width: 100%;
    }
