@page "/feed/follow"
@implements IDisposable

@using Nostrid.Data
@using Nostrid.Data.Relays;
@using Nostrid.Model;
@using Nostrid.Misc;
@inject AccountService accountService
@inject EventDatabase eventDatabase

<h2>Following Feed</h2>

<div class="d-none d-md-flex pb-2">
    <NoteComposer />
</div>

@if (follows.Count == 0)
{
    <div class="h-100 d-flex flex-column align-items-center justify-content-center text-center border-top px-2 py-3" style="margin: 0 -1rem;">
        <i class="fs-1 bi bi-person-x"></i>
        <p class="fw-bold">No follows yet.</p>
        <p>If you recently restored your account then your follows may take a few minutes to be discovered.</p>
    </div>
}
else
{
    <div style="margin-bottom: -1rem;">
        <FeedViewer BaseFilter="@filter" MessageKinds="@(new[]{NostrKind.Text, NostrKind.Repost})" />
    </div>
}

@code {
    private SubscriptionFilter? filter;
    private List<string> follows = new();

    protected override void OnInitialized()
    {
        accountService.MainAccountChanged += MainAccountChanged;
        SetFilter();
    }

    private void MainAccountChanged(object? sender, EventArgs args)
    {
        SetFilter();
        InvokeAsync(() => StateHasChanged());
    }

    private void SetFilter()
    {
        follows = accountService.MainAccount == null ? new() : eventDatabase.GetFollowIds(accountService.MainAccount.Id);
        if (follows.Count == 0)
        {
            filter = null;
        }
        else
        {
            filter = new AccountSubscriptionFilter(follows.ToArray());
        }
    }

    #region Dispose
    private bool _disposed;

    public void Dispose() => Dispose(true);

    protected virtual void Dispose(bool disposing)
    {
        if (!_disposed)
        {
            if (disposing)
            {
                accountService.MainAccountChanged -= MainAccountChanged;
            }

            _disposed = true;
        }
    }
    #endregion
}