@page "/"

@using Nostrid.Model;
@using Nostrid.Data.Relays;

<h2>Global</h2>

<div class="d-none d-md-flex pb-2">
    <NoteComposer />
</div>

<div style="margin-bottom: -1rem;">
    <FeedViewer BaseFilter="@filter" MessageKinds="@(new[]{NostrKind.Text, NostrKind.Repost})" />
</div>

@code {
    private SubscriptionFilter? filter;

    protected override void OnParametersSet()
    {
        filter = new AllSubscriptionFilter();
    }
}