@page "/tag/{hashtags}"

@code {
    [Parameter, EditorRequired]
    public string Hashtags { get; set; } = null!;
}

@using Nostrid.Data;
@using Nostrid.Data.Relays;
@using Nostrid.Model;
@inject AccountService accountService
@inject FeedService feedService
@inject NavigationManager navigationManager

<div class="d-flex flex-row">
    <h2>#@string.Join(" #", Hashtags.Split(','))</h2>
    @if (accountService.MainAccount != null)
    {
        <button class="btn btn-sm btn-outline-primary mb-2 ms-3" type="button" @onclick="@Save">
            <i class="bi bi-pin"></i>
        </button>
    }
</div>

<FeedViewer BaseFilter="@filter" />

@code {
    private SubscriptionFilter? filter;

    protected override void OnParametersSet()
    {
        var hashtags = Hashtags.Split(",");
        filter = new TagSubscriptionFilter(hashtags);
    }

    private void Save()
    {
        if (accountService.MainAccount == null) return;
        var feedSource = new FeedSource()
        {
            Hashtags = Hashtags.Split(",").ToList(),
            OwnerId = accountService.MainAccount.Id,
        };
        feedService.SaveFeedSource(feedSource);
        navigationManager.NavigateTo($"/feed/{feedSource.Id}");
    }
}