@page "/feed/mention"

@using Nostrid.Data
@using Nostrid.Data.Relays;
@inject AccountService accountService
@inject FeedService feedService

<h2>Mentions Feed</h2>

<div class="d-none d-md-flex px-3 pb-2" style="margin: 0 -1rem;">
    <NoteComposer />
</div>

<FeedViewer BaseFilter="@filter" MessageKinds="@(new[]{NostrKind.Text, NostrKind.Repost})" />

@code {
    private SubscriptionFilter? filter;

    protected override void OnInitialized()
    {
        if (accountService.MainAccount == null) return;

        filter = new MentionSubscriptionFilter(accountService.MainAccount.Id);

        var notesFeed = feedService.GetNotesFeed(filter.GetFilters(), 1);
        if (notesFeed.Any())
        {
            var newestNoteDate = notesFeed.Max(n => n.CreatedAtCurated);
            accountService.SetLastRead(newestNoteDate);
        }
    }
}
