@page "/feed/mention"

@using Nostrid.Data
@using Nostrid.Data.Relays;
@using Nostrid.Model;
@inject AccountService accountService
@inject FeedService feedService

<h2>Mentions Feed</h2>

<div class="d-none d-md-flex pb-2">
    <NoteComposer />
</div>

<div style="margin-bottom: -1rem;">
    <FeedViewer BaseFilter="@filter" MessageKinds="@(new[]{NostrKind.Text, NostrKind.Repost})" />
</div>

@code {
    private SubscriptionFilter? filter;

    protected override void OnInitialized()
    {
        if (accountService.MainAccount == null) return;

        filter = new MentionSubscriptionFilter(accountService.MainAccount.Id);

        var notesFeed = feedService.GetNotesFeed(filter, 1);
        if (notesFeed.Any())
        {
            var newestNoteDate = DateTimeOffset.FromUnixTimeSeconds(notesFeed.Max(n => n.CreatedAtCurated)).UtcDateTime;
            accountService.SetLastRead(newestNoteDate);
        }
    }
}
