@page "/note/{eventId}"
@page "/note/{eventId}/{childIndex:int}"
@implements IDisposable

@code {
    [Parameter, EditorRequired]
    public string EventId { get; set; } = null!;

    [Parameter, EditorRequired]
    public int ChildIndex { get; set; }
}

@using Nostrid.Data
@using Nostrid.Data.Relays;
@using Nostrid.Interfaces;
@using Nostrid.Model;
@using Nostrid.Misc;
@using System.Collections.Concurrent;
@inject FeedService feedService
@inject RelayService relayService

<div class="fs-4 fw-bolder">Thread</div>

@if (noteTrees.Any())
{
    @if (noteNotFound)
    {
        <div class="text-secondary mb-2">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <span>Thread not fully visible. Wait, or rotate the relays.</span>
        </div>
    }
}

@if (!noteTrees.Any())
{
    <div class="text-center px-3 py-2 border-top" style="margin: 0 -1rem;">
        <div class="spinner-border mx-3 my-2" role="status">
            <span class="visually-hidden">Waiting for feed...</span>
        </div>
    </div>
}
else
{
    <div style="margin-bottom: -1rem;">
        <NoteTreeViewer Trees="@noteTrees" MainEventId="@EventId" ChildIndex="@ChildIndex" NotClickable="true" />
    </div>
}

@code {
    private List<NoteTree> noteTrees = new();
    private bool noteNotFound;
    private string? rootId;

    private DateTime lastUpdate;
    private Task? updateTask;
    private CancellationTokenSource cancellationTokenSource = new();

    private const int MinSecondsBetweenUpdates = 3;

    private static readonly object lockTree = new();

    protected override void OnParametersSet()
    {
        Cleanup();

        cancellationTokenSource = new();

        feedService.NotesReceived += ReceivedNotes;

        lastUpdate = DateTime.UtcNow;

        noteTrees = new();
        noteNotFound = false;

        Task.Run(() =>
        {
            var notes = feedService.GetNotesThread(EventId, out rootId);
            TruncateTreeIfNeeded(notes);
            InvokeAsync(() => StateHasChanged());
        },
        cancellationTokenSource.Token);
    }

    private void TruncateTreeIfNeeded(IEnumerable<Event> newNotes)
    {
        lock (lockTree)
        {
            feedService.GetTreesFromNotes(newNotes, noteTrees);

            //var requestedNode = noteTrees.Find(EventId, out var maxExceeded, NoteViewer.MaxChildren);
            //noteNotFound = requestedNode == null;
            //if (requestedNode != null && (maxExceeded || requestedNode.RenderLevel >= NoteViewer.MaxNestingLevel || ChildIndex > 0))
            //{
            //    noteTrees = new List<NoteTree>() { requestedNode };
            //}

            var requestedNode = noteTrees.Find(EventId);
            if (requestedNode != null)
            {
                // Let's back up MaxNestingLevel or until the node is no longer visible
                for (int i = 0; i < NoteViewer.MaxNestingLevel && requestedNode.Parent != null; i++)
                {
                    if (requestedNode.Parent.Find(EventId, out var maxExceeded, NoteViewer.MaxChildren) == null || maxExceeded)
                        break;
                    requestedNode = requestedNode.Parent;
                }
                noteTrees = new List<NoteTree>() { requestedNode };
            }
        }
    }


    private void UpdateIfNeeded()
    {
        var waitFor = lastUpdate.AddSeconds(MinSecondsBetweenUpdates) < DateTime.UtcNow ? 0 : MinSecondsBetweenUpdates;
        updateTask = Task.Delay(TimeSpan.FromSeconds(waitFor), cancellationTokenSource.Token).ContinueWith((_) =>
        {
            InvokeAsync(() => StateHasChanged());
            updateTask = null;
        }, cancellationTokenSource.Token);
    }

    private void ReceivedNotes(object? sender, (string _, IEnumerable<Event> events) data)
    {
        Task.Run(() =>
        {
            if (rootId == null)
            {
                var note = data.events.Where(e => e.Kind == NostrKind.Text && (e.Id == EventId || e.ReplyToRootId == EventId || e.ReplyToId == EventId)).FirstOrDefault();
                if (note == null)
                {
                    return;
                }
                rootId = note.ReplyToRootId ?? note.Id;
            }
            var notesToAdd = data.events.Where(e => e.Kind == NostrKind.Text && (e.Id == rootId || e.ReplyToRootId == rootId));
            if (!notesToAdd.Any())
            {
                return;
            }

            TruncateTreeIfNeeded(notesToAdd);

            if (updateTask != null)
            {
                return;
            }

            UpdateIfNeeded();
        },
        cancellationTokenSource.Token);
    }

    #region Dispose
    private bool _disposed;

    public void Dispose() => Dispose(true);

    protected virtual void Dispose(bool disposing)
    {
        if (!_disposed)
        {
            if (disposing)
            {
                Cleanup();
            }

            _disposed = true;
        }
    }

    private void Cleanup()
    {
        feedService.NotesReceived -= ReceivedNotes;
        cancellationTokenSource.Cancel();
    }
    #endregion

}
